package templates

import (
"github.com/sentientbottleofwine/osmium/teamserver"
"strconv"
)

templ AgentsView(agents []teamserver.AgentView) {
<div id="Agents" class="basis-[50svw] dashboard-element flex flex-col min-h-0">
    <div id="agent-dummy" hx-ext="sse" sse-connect="/api/agents/register/listen" sse-swap="agent" hx-swap="none"></div>
    <h2 class="dashboard-element-header">Agents</h2>
    <div id="agent-table-head" class="flex flex-row justify-between ml-1">
        <h4 class="text-indigo-600 font-medium">Agent Id</h4>
    </div>
    // Not a table because css is a joke
    <div id="agent-table-body" class="overflow-auto min-h-0 rounded-md m-1 border-2 border-zinc-500">
        for _, agent := range agents {
        if agent.AgentId % 2 == 0 {
        <div class="agent flex flex-row justify-between p-2 bg-neutral-950/90">
            @agentView(agent)
        </div>
        } else {
        <div class="agent flex flex-row justify-between p-2 bg-neutral-900">
            @agentView(agent)
        </div>
        }
        }
    </div>
</div>
}

templ agentView(agent teamserver.AgentView) {
<p>{ strconv.FormatUint(agent.AgentId, 10) }</p>
<button
    class="agent-reveal-on-hover bg-neutral-950 active:bg-neutral-600 border-1 border-neutral-600 px-2 mr-1 rounded-md text-sm"
    onclick={ templ.JSFuncCall("termInit", agent.AgentId) }>
    Choose agent
</button>
}

templ AgentOOB(agent teamserver.AgentView) {
<div hx-swap-oob="beforeend:#agent-table-body">
    if agent.AgentId % 2 == 0 {
    <div class="agent flex flex-row justify-between p-2 bg-neutral-950/90">
        @agentView(agent)
    </div>
    } else {
    <div class="agent flex flex-row justify-between p-2 bg-neutral-900">
        @agentView(agent)
    </div>
    }
</div>
}
