package templates

import "github.com/sentientbottleofwine/osmium/teamserver"
import "strconv"

templ AgentsView(agents []teamserver.AgentView) {
<h1>Agents</h1>
<table>
    <tr>
        <th>Agent Id</th>
        <th>Current Task</th>
    </tr>
    for _, agent := range agents {
    <tr>
        <td>{ strconv.FormatUint(agent.AgentId, 10) }</td>
        <td>{ agent.Task }</td>
    </tr>
    }
</table>
}
