package templates

import "strconv"

templ Counter(count uint64) {
<h1>hello world{ strconv.FormatUint(count, 10) }</h1>
}

templ Page(count uint64) {
<html>

<head>
    <meta charset="UTF-8" />
    <script src="/static/htmx.min.js"></script>
</head>

<body>
    <div id="Agents"></div>
    <div id="TaskList"></div>
    <div id="Shell"></div>
</body>

</html>
}
